.selecciona{
	background: #CFE4E5; 
	border-radius: 8px; 
	font-size: 10px;
	padding: 4px; 
	color: black; 
	font: sans-serif 70% monospace;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }

.sizeFont{
	font-size: 9px;
	margin-left: 4px
}
.sizeF{
	font-size: 15px
}
.sizeFo{
	font-size: 15px;
	margin-left: 25px
}
